
html {
    margin: 0;
    line-height: 100%;
    border: 0;
    padding: 0;
    background-color:#4b1919;
 }
 
 body {
    width: 100%
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
 }

div{
    margin-top: 0;
    text-align: left;
}

.nav-bar{
    display: flex;
    width: 100%;
    position: sticky;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
.nav-item{
    background-color: #fa3232;
    text-decoration: none;
    line-height: 100px;
    width:25%;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    border: 2px solid #eeeeee; 
    display:inline-block;
    text-align: center;
}

.nav-item:hover{
    background-color: #7d1919;    
    color: #eeeeee;
    
}
.link{
    font-family: "Manrope";
    font-weight: bolder;
    font-size: 40px;
    color:#222222;
    padding: 50px 0 0 0;
}

.headings{
    color: #eeeeee;
    font-family: "Manrope";
    font-weight: bolder;
    text-shadow: 0 0 4px #222222;
}

.subtext{
    color: #eeeeee;
    font-family: "Manrope";
}

input{
    display: block;
    width: 100px;
    height: 12px;
    padding: 10px 30px;
    border: 2px solid #eeeeee;
    border-radius: 24px;
    background-color: #7d1919;
    color: #eeeeee;
    margin: 10px 0;
}

.btn {
    border: 2px solid #eeeeee;
    color: #222222;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #fa3232;
}

#webhead {
    height: 400px;
    width: 600px;
    background-image: url("web.jpg");
    background-size: cover;
}

#webhead:hover {
    background-image: url("spidey.webp");
    background-size: cover;

}

table{
    color: #eeeeee;
    font-family: "Manrope";
}

th{
    font-weight: bold;
    background-color: #fa3232;
    color: #222222;
}

tr {
    background-color: #7d1919;
}

td, th {
    padding: 10px 20px;
}

.colour-section{
    width: 25%;
    height: 10%;
    border: 5px solid #eeeeee;
    color:#eeeeee;
    font-size: 20px;
    font-family: "Manrope";
    font-weight: bolder;
    padding: 5px;
    margin:10px 0;
}

#background{
    background-color: #4b1919;
    text-align: center;
}

#normal-text, #input-text, #borders {
    background-color: #eeeeee;
    text-align: center;
    color:#4b1919
}

#buttons{
    background-color: #fa3232;
    text-align: center;
}

#button-text{
    background-color: #222222;
    text-align: center;
}

#inputs{
    background-color: #7d1919;
    text-align: center;
}